<div id="session-sidenav" class="sidenav">
    <ul>
        <li><a class="sidenav-title subheader"><i class="material-icons">settings</i>Settings</a><a class="sidenav-close sidenav-close-top" href="#!"><i class="material-icons">close</i></a></li>
        <li>
            <ul class="collapsible">
                <li>
                    <div class="collapsible-header"><i class="material-icons">tune</i>Conjugation<i class="material-icons collapsible-arrow">keyboard_arrow_right</i></div>
                    <div class="collapsible-body">

                        <div>Formality :</div>
                        <div class="formality-settings">
                            <label>
                                <input name="formality" type="radio" checked data-formality="0" />
                                <span>Both</span>
                            </label>
                            <label>
                                <input name="formality" type="radio" data-formality="1" />
                                <span>Plain</span>
                            </label>
                            <label>
                                <input name="formality" type="radio" data-formality="2" />
                                <span>Polite</span>
                            </label>
                        </div>

                        <div>Negation :</div>
                        <div class="negation-settings">
                            <label>
                                <input name="negation" type="radio" checked data-negation="0" />
                                <span>Both</span>
                            </label>
                            <label>
                                <input name="negation" type="radio" data-negation="1" />
                                <span>Positive</span>
                            </label>
                            <label>
                                <input name="negation" type="radio" data-negation="2" />
                                <span>Negative</span>
                            </label>
                        </div>

                        <div>Tenses :</div>
                        <div>
                            <table>

                                <tr>
                                    <td>
                                        <label>
                                            <input class="filled-in" type="checkbox" checked data-tense="pres" />
                                            <span>Present</span>
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input class="filled-in" type="checkbox" checked data-tense="past" />
                                            <span>Past</span>
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input class="filled-in" type="checkbox" checked data-tense="vol" />
                                            <span>Volitional</span>
                                        </label>
                                    </td>
                                </tr>

                                <tr>
                                    <td>
                                        <label>
                                            <input class="filled-in" type="checkbox" data-tense="imp" />
                                            <span>Imperative</span>
                                        </label>
                                    </td>
                                    <td>
                                        <label>
                                            <input class="filled-in" type="checkbox" data-tense="prov" />
                                            <span>Conditional</span>
                                        </label>
                                    </td>
                                    <td></td>
                                </tr>

                            </table>

                        </div>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">speaker_notes</i>Verbs<i class="material-icons collapsible-arrow">keyboard_arrow_right</i></div>
                    <div class="collapsible-body"><span>Lorem ipsum dolor sit amet.</span></div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">translate</i>Display<i class="material-icons collapsible-arrow">keyboard_arrow_right</i></div>
                    <div class="collapsible-body">

                        <div>
                            <label>
                                <input id="settings-romaji" class="filled-in" type="checkbox" />
                                <span>Show romaji</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input id="settings-furigana" class="filled-in" type="checkbox" />
                                <span>Show furigana</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input id="settings-type" class="filled-in" type="checkbox" />
                                <span>Show verb type</span>
                            </label>
                        </div>
                        <div>
                            <label>
                                <input id="settings-definition" class="filled-in" type="checkbox" />
                                <span>Show definition</span>
                            </label>
                        </div>

                    </div>
                </li>
                <li>
                    <div class="collapsible-header"><i class="material-icons">volume_up</i>Sound<i class="material-icons collapsible-arrow">keyboard_arrow_right</i></div>
                    <div class="collapsible-body">

                        <div>
                            <label>
                                <input id="settings-sound" class="filled-in" type="checkbox" />
                                <span>Disable sound</span>
                            </label>
                        </div>

                    </div>
                </li>
            </ul>
        </li>
    </ul>
    <div id="session-actions">
        <div><button class="btn btn-flat sidenav-close"><i class="material-icons left">stop</i>Stop the session</button></div>
        <div><button class="btn btn-flat sidenav-close"><i class="material-icons left">play_arrow</i>Continue</button></div>
    </div>
</div>